<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <style>
            table.list {
                width: 1024px;
                border-collapse: collapse;
                border-spacing: 0;
            }
    
            table.list tr>td {
                border: 1px solid #000;
                padding: 5px;
            }
            h3 {
                display: inline;
            }
        </style>
            <h3>Customer List</h3>
            <table class="list">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Username</td>
                        <td>Contact</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% if(customers && customers.length>0) { %>
                    <% customers.forEach(customer => { %>
                        <tr>
                            <td><%= customer.name %></td>
                            <td><%= customer.username %></td>
                            <td><%= customer.contact %></td>
                            <td><a href="/home/customer/update/<%= customer.id %>">Update</a> | <a href="/home/customer/delete/<%= customer.id %>">Delete</a></td>
                        </tr>
                    <% }) %>
                    <% } else { %>
                    <tr>
                        <td colspan="4">No Results Found</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
       
    </body>
</html>